/*Leaflet icon*/
.gray-icon{
    background-color: gray;
    border: 5px solid rgb(173, 216, 230);
}

.green-icon{
    background-color: green;
    border: 5px solid rgb(173, 216, 230);
}

.blue-icon{
    background-color: blue;
    border: 5px solid rgb(173, 216, 230);
}

.yellow-icon{
    background-color: yellow;
    border: 5px solid rgb(173, 216, 230);
}




/* Leaflet map */
#map{
    width: 50%;
    height: 50vh;
    display: block;

}

.leaflet-control-attribution.leaflet-control {
    display: none;
}

/*-------------------------------------*/

body{
    margin: 0 auto;
    color: white;
}

.container{
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container div{
    height: 100%;
}

.player-board{
    width: 25%;
    border-right: 1px solid white;
}


.misterx-board{
    width: 25%;
     border-left: 1px solid white;
}



