/*Leaflet icon*/
.misterX-icon {
    background-color: red;
    border: 5px solid rgb(173, 216, 230);
}

.gray-icon {
    background-color: gray;
    border: 5px solid rgb(173, 216, 230);
}

.green-icon {
    background-image: url("frontend/img/logo.png");
    border: 5px solid rgb(173, 216, 230);
}

.blue-icon {
    background-color: blue;
    border: 5px solid rgb(173, 216, 230);
}

.yellow-icon {
    background-color: yellow;
    border: 5px solid rgb(173, 216, 230);
}


/* Leaflet map */

.container {
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100%;
    margin: 0;
    text-align: center;
    justify-content: center;
}

.map-container {
    width: 60%;
    border: 1px solid rgba(255, 255, 255, 0.04);

}

#error-message {
    display: none;
}

#controller {
    display: flex;
    flex-direction: column;
    background-color: rgba(30, 30, 30, 0.02);
    width: 60%;
    height: calc(35% - 10px);
    justify-self: center;
    /*display: none;*/
}

#controller h1 {
    margin-top: 30px;
    margin-bottom: 35px;

}

#start-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    justify-content: center;

}

#start-buttons a {
    background-color: burlywood;
    color: black;
    text-decoration: none;
    width: 45%;
    font-size: 15px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
    justify-content: center;
}

#start-buttons a:hover {
    cursor: pointer;
    background-color: white;
}

#movement-buttons {
    text-align: center;
    height: fit-content;
    margin-bottom: 70px;
}

#movement-buttons div {
    position: relative;
    background-color: white;
    width: 60%;
    justify-content: center;
     margin: 0 auto 5px auto;

}

#movement-buttons div h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
    color: black;
}

#movement-buttons div p {
    position: absolute;
    bottom: 0;  /* Align to the bottom */
    right: 0;     /* Align to the left */
    transform: translate(0, 0); /* Remove unnecessary centering */
    color: black;
    margin: 0 auto;
    border-bottom: none;
    font-weight: bold;
    font-size: 20px;
    padding: 1px;
}

#movement-buttons img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

#movement-buttons div:hover {
    cursor: pointer;

}


/* Leaflet map */

#map {
    margin-top: 10px;
    width: 90%;
    height: 65%;
    display: block;
    justify-self: center;

    position: relative;
}


.leaflet-control-attribution.leaflet-control {
    display: none;
}


/*Variables*/

body {
    margin: 0 auto;
    color: white;
    font-family: Cambria;
}

a {
    font-family: Georgia;
}


/* Mister X Board */

.player-board {
    /*display: none;*/
    width: 20%;
    background-color: rgba(11, 11, 11, 0.15);
}


.misterX-board {
    /*display: none;*/
    width: 20%;
    background-color: rgba(11, 11, 11, 0.15);
}

#misterx-pp, #player-pp {
    border-radius: 100%;
    border: 1px solid white;
}


.player-info{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.player-info h1{
     margin-left: 10px;
    margin-bottom: 0;
    text-align: left;
}

.player-info div h2{
    margin-top: 0;
    font-size: 15px;
    margin-left: 10px;
    text-align: left;
}

.upperPart {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.upperPart div h1 {
    margin-left: 10px;
    margin-bottom: 0;
    text-align: left;
}

.upperPart div h2{
    margin-top: 0;
    font-size: 15px;
    margin-left: 10px;
    text-align: left;
}




.card-list-mx {
    height: 80%;

}


.mx-cards {
    height: calc(100% - 58.44px);
    overflow: auto;
    margin: 0 auto;
    justify-content: center;
}


.mx-cards img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}


.mx-cards div {
    border: 2px solid rgba(255, 255, 255, 0.28);
    box-sizing: border-box;
    height: 70px;
    width: 85%;
    margin: 0 auto 2px auto;
    overflow: hidden;
    position: relative;
    justify-content: center;

}


.mx-cards div h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0 auto;
    text-shadow: 2px 2px rgb(0, 0, 0);
}






.chat{
    display: block;
    background-color: #333333;
    height: 25%;
    overflow: auto;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}

.chat div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;

}

.chat div p{
    background-color: #9c9c9c;
    color: black;
    padding: 7px;
    border-radius: 10px;
    margin: 8px;
    margin-left: 5px;
    text-align: left;
}


#exit{
    font-size: 25px;
    position: fixed;
    bottom: 0;
    margin-left: 15px;
}

#exit:hover{
    cursor: pointer;
    text-decoration: underline;
}


.store{
    background-color: rgba(30, 30, 30, 0.02);
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    height: calc(35% - 10px);

}


#items{
    margin: 0 auto;
    justify-content: center;
}

#items div{
    margin-right: 15px;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




